.about div {
  width: 33%;
  float: left;
  text-align: center;
}

.milestone div {
  width: 25%;
  float: left;
  padding: 0px 5px;
}

.milestone h3 {
  text-align: center;
}

@media (max-width: 767px) {
  .about div {
    width: 100%;
    text-align: center;
  }

  .milestone div {
    width: 100%;
  }
}
